extends layout

block content
	script.
		document.getElementById('nav-boosttyp').classList.add('active');

	div(class='container-fluid')
		div(class='row ms-1')
			table(class='table table-responsive table-striped table-hover')
				thead
					tr
						th
							div List of Booster Types
				tbody
					for booster in boosters
						tr
							td
								span: a(href=booster.url) #{booster.name}
								br
								span= booster.description
