extends layout

block scripts

block content
    h2 List of Riven Challenges and conditions
    p= 'or '
        a(href='/conditions/form') Create a new riven condition
    table(border=0)
        for condition in conditions
            tr
                td(style='padding-right:10px; vertical-align: top;')
                    a(href='/conditions/form/'+condition._id) edit
                td
                    = condition.description
                    ul
                        if condition.optional && condition.optional === true
                            li= 'This condition is an optional one'
                        - var n = 1
                        if condition.advices
                            for advice in condition.advices
                                li= 'advice '+ n++ +' : '+advice