extends layout

block scripts
    script.
        window.onload = function() {
            setTimeout(function() {window.location.href = '/';}, 3000);
        };

block content
    h1 Whoever you are, you have been disconnected !
