extends layout

block scripts
	script.
		window.onload = function() {
				setTimeout(function() {window.location.href = '/';}, 3500);
		};

block content
	div(class='container-fluid')
		div(class='row m-1')
			h3 Whoever you are, you have been disconnected !
			i(class="text-muted") In fact I know you : #{user.email}
