extends layout

block scripts
	script(nonce=nonce).
		window.onload = function() {
				setTimeout(function() {window.location.href = '/';}, 3000);
		};

block content
	div(class='container-fluid')
		div(class='row m-1')
			h3 No session or session has expired.
