doctype html
html
  head
    title= title
    block link
      link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
      - const version = 1.0
  body
    block body
      div(class='header')
        header
          p
            a(href='/types') Riven Types
            = ' - '
            a(href='/conditions') Riven Conditions
            = ' - '
            a(href='/boosters') Booster Types
            = ' - '
            a(href='/rivenForm') Create Riven
            = ' - '
            a(href='/rewardForm') Create Reward
            = ' - '
            a(href='/rewardForm/list') List Rewards
      section
        block content
      div(class='footer')
        footer
          p
            i croopyrite jojo

