extends layout

block content
    table(border=0)
        thead
            tr
                th ID
                th Date
                th Type
        tbody
            each val in rewards
                tr
                    td(style='padding:5px')
                        a(href='/reward/view/'+val._id)= val._id
                    if (val.date)
                        td(style='padding:5px')= date2string(val.date)
                    else
                        td
                    td(style='padding:5px')= val.type.name