extends layout

block content
	script.
		document.getElementById('nav-rivsrc').classList.add('active');

	div(class='container-lg')
		div(class='row mt-1')
			p List of #[a(href='https://warframe.fandom.com/wiki/Riven_Mods#Acquisition') Riven Sources]
		div(class='row')
			table(class='table table-responsive table-striped table-hover')
				thead
					tr
						th Source
						th More information
				tbody
					for ro in sources
						tr
							td= ro.name
							td= ro.more_info
