extends layout

block append scripts
    script(src='/javascripts/rivenScripts.js')

block content
    script.
        var navitem = document.getElementById('nav-rivform');
        navitem.classList.add('active');

    // special invisible Div
    div(id='condition-exemple' hidden=true)
        label(for='cond-select') To be modified
        select(name = 'conditions[]' id = 'cond-select')
            option none
            each val in conditions.optionals
                option(value= val._id) #{val.description}
        span(onClick='removeRow();' style='margin-left: 20px;') [-]
        span(onClick='addRow();' style='margin-left: 20px;') [+]
        br
        br
    h1 Create a new Riven
    // Riven creation form
    form(method='POST' action='/riven/form' onsubmit='return validateForm(this);')
        label(for='riven-type') Type :
        select(name = 'type' id = 'riven-type')
            each val in types
                option(value= val._id) #{val.name}
        br
        br
        label(for='weaponName') Weapon Name :
        input(name='weaponName' id='weaponName')
        br
        br
        label(for='note') Additional information :
        input(name='note' id='note' size='40')
        br
        br
        label(for='mcondition') Mandatory Condition :
        select(name = 'conditions[]' id='mcondition')
            option none
            each val in conditions.mandatories
                option(value= val._id) #{val.description}
        span(id='mand-span' onClick='addOptional(this)' style='margin-left: 20px;') [+]
        br
        label(for='conditionVariable') Mandatory condition variable 'N' :
        input(type='number' min='0' id='conditionVariable' name='N')
        br
        br
        div(id='condition-rows')
        br
        input(name='submit' type='submit' value='Add Riven' style='margin-left: 20px;')
