extends layout

block scripts

block content
    = 'List of '
    a(href='https://warframe.fandom.com/wiki/Riven_Mods') Riven
    = ' Types'
    ul
        for type in types
            li= type.name
