body {
  //padding: 50px;
  position: relative;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 60px;
  padding-bottom: 10px;
  height:100%
}

body::after {
  content: '';
  display: block;
  height: 60px; /* Set same as footer's height */
}

a {
  color: #00B7FF;
}

.footer {
  position:absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height:60px;			/* Height of the footer */
  background:#e9e9ff;
}

.header {
  position:absolute;
  left: 0;
  right: 0;
  top:0;
  padding: 20px;
  background: #e9e9ff;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.marginTop {
  margin-top: 20px;
}

.marginTop .left-right-container {
  position: fixed;
  padding: 0;
  margin: 0;
}

.left-element {
  display: inline-block;
  float: left;
}

.right-element {
  display: inline-block;
  float: right;
  margin-left: 20px;
}

.grid-container {
  display: grid;
  grid-gap: 5px;
  padding: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

@media screen and (max-width: 768px) {
  td {
    font-size: 125%;
  }
}

ul.striped-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 200px;
}
ul.striped-list > li {
  border-bottom: 1px solid rgb(221,221,221);
  padding: 6px;
}
ul.striped-list > li:nth-of-type(odd) {
  background-color: #e9e9f9 ;
}
ul.striped-list > li:last-child {
  border-bottom: none;
}
